/* Attributes */

/* Classes */
.links {
  text-decoration: none;
  color: aliceblue;
}
.navigation_appbar {
  width: 100%;
  position: fixed;
  /* overflow-y: hidden; */

  /* background: linear-gradient(to bottom, rgba(128, 128, 128, 0), black); */
}
.navigattion_toolbar {
  width: 100%;
  position: fixed;
}

/* Id's */
#nav-logo {
  /* border: 1px solid red; */
  left: 55px;
  width: 60px;
  height: 70px;
}
#toggle-icon {
  transform: scale(1.5);
}

/* Responsive */
@media screen and (min-width: 375px) and (max-width: 414px) {
  /* Classes */
  .desktoplinks {
    display: none;
  }
  .links {
    display: none;
  }
  .navigation_appbar {
    height: 100px;
  }
  .navigation_toolbar {
    height: 100px;
  }
  /* ID's */
  #nav-logo {
    left: 5px;
    /* top: 20px; */
  }
}
