* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;

  color: aliceblue;
}

/* Attributes */
:root {
}

/* Default (Dark Mode) */
.App {
  overflow: hidden;
  background: linear-gradient(to bottom, #181818, black);
}

/* Responsive */
